<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">

</head>
<body>

	<header th:replace="layout/layout :: header"></header>
	<br>
	
	

	<div class=" container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body"></div>
			<img style="max-width: 25%" th:src="@{'/uploads/' + ${libro.foto}}"
				th:alt="${libro.foto}">


			<ul class="list-group">
				<li class="list-group-item" th:text="${libro.titulo}"></li>
				<li class="list-group-item" th:text="${libro.descripcion}"></li>
				<li class="list-group-item" th:text="${libro.anno}"></li>
				<li class="list-group-item" th:text="${libro.isbn}"></li>
				<li class="list-group-item" th:text="${libro.cantidad_paginas}"></li>
				<li class="list-group-item" th:text="${libro.precio}"></li>
			</ul>
		</div>
	</div>
		
	<br>
	<br>

</body>
</html>